*{
    margin: 0;
    border: 0;
}

body{
    box-sizing: border-box;
    background-color: black;
}

.title{
    text-align: center;
    color: antiquewhite;
}

.btn-holder{
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
    gap: 2rem;
    max-width: 45rem;
    margin: auto;
}

.btn-sel{
    border: 3px solid rgb(18, 103, 153);
    padding: 4rem;
    background-color: black;
    color:white;
    font-size: 3rem;
    transition: ease-in;
}

.btn-sel:hover{
    transition-duration: 0.5s;
    border: 3px solid rgb(153, 45, 18);
    border-radius: 10px;
    background-color: white;
    color:black;
    font-size: 3rem;
    cursor: pointer;
    transform: scale(0.95);
}


.result-box{
    margin: auto;
    text-align: center;
}

.result-text{
    color: azure;
}

h2, span{
    color:white;
}

.result-text{
    text-align: center;
}

.result-box{
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding: 2rem;
}

.score-plr{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
}

.score-comp{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
}

.bigboy{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10rem;
    font-size: 1.7rem;
    padding-right: 2rem;
}

